<%= form_for @stack, url: stacks_path do |f| %>
  <%= base_errors_for @stack %>

  <%= render partial: 'compute_resources' %>
  <div id="tenants-list">
    <% if @tenants %>
      <%= render partial: 'foreman_orchestration/tenants/for_select', locals: {onchange: false} %>
    <% end %>
  </div>
<% end %>
