<% javascript 'foreman_orchestration/stacks' %>

<% title _("Stacks") %>
<% title_actions display_link_if_authorized(_("New Stack"), hash_for_new_stack_path), help_path %>

<div class="form-group">
  <div class="row">
    <div class="col-md-4">
      <%= select_tag :tenants, options_from_collection_for_select(@tenants, 'name', 'name', @tenant),
                     {:class => 'form-control', :'data-url' => for_tenant_stacks_path, :onchange => 'stacksTenantSelected(this);'} %>
    </div>
  </div>
</div>

<div id="stacks-list">
  <%= render 'stacks' %>
</div>
